@model DateTime

@{
    DateTime firstDay = new DateTime(Model.Year, Model.Month, 1);
    DateTime lastDay = firstDay.AddMonths(1).AddDays(-1);
    int daysInMonth = DateTime.DaysInMonth(Model.Year, Model.Month);

    var startingDay = DayOfWeek.Sunday;
}
<div class="calendar">
    <div class="title">
        @string.Format("{0} de {1}", Model.ToString("MMMM"), Model.ToString("yyyy"))
    </div>
    <div class="weekDays">
        <div class="item">D</div>
        <div class="item">S</div>
        <div class="item">T</div>
        <div class="item">Q</div>
        <div class="item">Q</div>
        <div class="item">S</div>
        <div class="item">S</div>
    </div>
    <div class="content">
        @for (var i = 0; (DayOfWeek) i != firstDay.DayOfWeek; i++)
        {
            <div class="item-space"></div>

            if (i > 6)
                break;
        }

        @for (int i = 1; i <= daysInMonth; i++)
        {
            <div class="item" for="@string.Format("C{0}-{1}-{2}", Model.Year, Model.Month, i)">
                @i
            </div>
        }
    </div>
</div>