/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Calendar and its items */
.calendar {
    margin-top: 60px;
    border: 1px solid #00000033;
    width: 262.75px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: default;
}

.calendar .title, .calendar .weekDays {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 4px 0;
}

.calendar .title {
    border-bottom: 1px solid #00000011;
}

.calendar .weekDays {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    border-bottom: 1px solid #00000011;
    padding: 0;
    height: 27.25px;
    color: #00000055;
}

.calendar .weekDays .item, .calendar .content .item, .calendar .item-space {
    text-align: center;
    display: inline-block;
    width: 37.25px;
    height: 37.25px;
    line-height: 2.3em;
    user-select: none;
}

.calendar .weekDays .item {
}

.calendar .content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.calendar .content .item {
    cursor: pointer;
    transition: background .06s cubic-bezier(0, .8, 1, 1);
}

.calendar .content .item:hover {
    background-color: #e4e4e4;
}

.calendar .content .item.current {
    color: #FFFFFF;
    background-color: #1861ac;
}

/* All months */
.calendar.current, .calendar.past, .calendar.next {
}

/* Current month */
.calender.current {
    
}

/* Past month */
.calender.past {
    
}

/* Next month */
.calender.next {
    
}

.calendarList {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.calendarAction {
    background-color: #FFF;
    border-radius: 2px;
    padding: 2px;
    box-shadow: #00000055 1px 1px 5px;
}