@{
    ViewData["Title"] = "Início";
}

@{
    DateTime currentDate = DateTime.Now;
}
    <div class="calendarList">
        <!-- Last month -->
        <partial name="~/Views/Shared/Components/_Calendar.cshtml" model="@(new CoreWebApp.Models.CalendarInfo(currentDate.AddMonths( -1 ), false))" />

        <!-- Current month -->
        <partial name="~/Views/Shared/Components/_Calendar.cshtml" model="@(new CoreWebApp.Models.CalendarInfo(currentDate, true))" />

        <!-- Next month -->
        <partial name="~/Views/Shared/Components/_Calendar.cshtml" model="@(new CoreWebApp.Models.CalendarInfo(currentDate.AddMonths( 1 ), false))" />
    </div>

